QN1. Given the participants' score sheet for your University Sports Day, you are required to
find the runner-up score. You are given scores. Store them in a list and find the score of
the runner-up. (Create an array of scores and print the runner up score)

In [5]:
arr=map(int,input("enter the values").split(' '))
runners_list=list(arr)
sorted_list=sorted(runners_list,reverse=True)
print("Score of runner up: ",sorted_list[0])

enter the values10 20 30 45 41 23 5 17 30 32 41 23 45 49 39 25
Score of runner up:  49

QN2. A dictionary is given D={‘John’ [25,32,43],’Peter’:[87,55,96],’Ram’:[58,55,43],’Meena’:[63,79,85]}
Get a name from user if the name in the dictionary change the values corresponding to
that user to [88,77,99] and print the dictionary. Else print ‘Name not found’.

In [9]:
D={'John':[25,32,43],'Peter':[87,55,96],'Ram':[58,55,43],'Meena':[63,79,85]}
name=str(input("Enter the name ")).capitalize()
if name in D:
  D[name]=[88,77,99]
  print("New Dictionary ",D)
else:
  print('Name not found')

Enter the name peter
New Dictionary  {'John': [25, 32, 43], 'Peter': [88, 77, 99], 'Ram': [58, 55, 43], 'Meena': [63, 79, 85]}

In [10]:
D={'John':[25,32,43],'Peter':[87,55,96],'Ram':[58,55,43],'Meena':[63,79,85]}
name=str(input("Enter the name ")).capitalize()
if name in D:
  D[name]=[88,77,99]
  print("New Dictionary ",D)
else:
  print('Name not found')

Enter the name rani
Name not found

QN3. Ticket Price Calculator:

I. Ask the user to enter their age.

II. Use control statements (if-elif-else) to calculate the ticket price based on the following conditions:

a. If the age is below 5, the ticket price is free.

b. If the age is between 5 and 12 (inclusive), the ticket price is Rs.10.

c. If the age is above 12, the ticket price is Rs.50.

d. If the age is above 60, the ticket price is free.

e. If the gender is female, the ticket price is 50% of the applicable rates.

III. Display the ticket price to the user.

In [15]:
age=int(input("Enter you age Please! "))
gender=str(input("Enter you gender ")).lower()
if age<5:
  print("Ticket Price is free")
elif age>5 and age<=12:
  if gender=='female':
    p1=10/2
    print("Ticket Price is Rs.",p1)
  else:
    print("Ticket Price is Rs.10")
elif age>12 and age<=60:
  if gender=='female':
    p1=50/2
    print("Ticket Price is Rs.",p1)
  else:
    print("Ticket Price is Rs.50")
else:
  print("Ticket Price is free")

Enter you age Please! 6
Enter you gender male
Ticket Price is Rs.10

In [16]:
age=int(input("Enter you age Please! "))
gender=str(input("Enter you gender ")).lower()
if age<5:
  print("Ticket Price is free")
elif age>5 and age<=12:
  if gender=='female':
    p1=10/2
    print("Ticket Price is Rs.",p1)
  else:
    print("Ticket Price is Rs.10")
elif age>12 and age<=60:
  if gender=='female':
    p1=50/2
    print("Ticket Price is Rs.",p1)
  else:
    print("Ticket Price is Rs.50")
else:
  print("Ticket Price is free")

Enter you age Please! 45
Enter you gender female
Ticket Price is Rs. 25.0

In [17]:
age=int(input("Enter you age Please! "))
gender=str(input("Enter you gender ")).lower()
if age<5:
  print("Ticket Price is free")
elif age>5 and age<=12:
  if gender=='female':
    p1=10/2
    print("Ticket Price is Rs.",p1)
  else:
    print("Ticket Price is Rs.10")
elif age>12 and age<=60:
  if gender=='female':
    p1=50/2
    print("Ticket Price is Rs.",p1)
  else:
    print("Ticket Price is Rs.50")
else:
  print("Ticket Price is free")

Enter you age Please! 65
Enter you gender female
Ticket Price is free

In [18]:
age=int(input("Enter you age Please! "))
gender=str(input("Enter you gender ")).lower()
if age<5:
  print("Ticket Price is free")
elif age>5 and age<=12:
  if gender=='female':
    p1=10/2
    print("Ticket Price is Rs.",p1)
  else:
    print("Ticket Price is Rs.10")
elif age>12 and age<=60:
  if gender=='female':
    p1=50/2
    print("Ticket Price is Rs.",p1)
  else:
    print("Ticket Price is Rs.50")
else:
  print("Ticket Price is free")

Enter you age Please! 12
Enter you gender female
Ticket Price is Rs. 5.0