#1. Write a program to find sum of all elements in a list of integers.

In [1]:
numlist = [2,4,2,5,7,9,23,4,5]
numsum = sum(numlist)
print('Sum of List: ',numsum)

Sum of List:  61

#2. Input a sentence as a string.
a) Print its length

b) Print the first half of string

In [2]:
qn2=input(str("Enter the sentence: "))
length = len(qn2)
hf = int(len(qn2)/2)
half =  qn2[0:hf]
print("Length of string: ",length)
print("Fisrt half of string: ",half)

Enter the sentence: Welcome to the world of Python
Length of string:  30
Fisrt half of string:  Welcome to the

#3. Write a program to enter a tuple of integers as (78,45,32,19,82,77,40,39) and Change the third value in the tuple to 100

In [3]:
tp=(78,45,32,19,82,77,40,39)
print(tp)

(78, 45, 32, 19, 82, 77, 40, 39)

We are not able to change any elements in tuple. Because tuples are immutable

#4. Consider a list listA=[19,32,10,55,31,32,94,29,10,65,77,40,40]
(a) Delete the first occurrence of 32

(b) Delete all occurrences of 40

(c) Delete the value at index=5

(d) Modify the value at index=9 as 300

(e) Add 200 at index=2

(f) Print the final list with its length, maximum value
and sum of all elements

In [4]:
#Delete the first occurrence of 32

listA=[19,32,10,55,31,32,94,29,10,65,77,40,40]
listA.remove(32)
listA

[19, 10, 55, 31, 32, 94, 29, 10, 65, 77, 40, 40]

In [5]:
#Delete all occurrences of 40

listA.pop()
listA

[19, 10, 55, 31, 32, 94, 29, 10, 65, 77, 40]

In [6]:
#Delete all occurrences of 40

listA.pop()
listA

[19, 10, 55, 31, 32, 94, 29, 10, 65, 77]

In [7]:
# Delete the value at index=5

listA.pop(5)
listA

[19, 10, 55, 31, 32, 29, 10, 65, 77]

In [8]:
len(listA)

9

In [9]:
#Modify the value at index=9 as 300
#list has 9 elements. Doesn't have an element at index=9. so changing the 9th element of the list
listA[8]=300
listA

[19, 10, 55, 31, 32, 29, 10, 65, 300]

In [10]:
#Add 200 at index=2
listA.insert(2,200)
listA

[19, 10, 200, 55, 31, 32, 29, 10, 65, 300]

In [11]:
#Print the final list with its length, maximum value and sum of all elements
print("Final List: ", listA)
print("Length of List: ",len(listA))
print("Maximun Value: ",max(listA))
print("Sum of all elements: ",sum(listA))

Final List:  [19, 10, 200, 55, 31, 32, 29, 10, 65, 300]
Length of List:  10
Maximun Value:  300
Sum of all elements:  751

#5. Consider a string ”The day has been long”.

(a) Delete the value at index =4

(b) Print the string 4 times in a single line with space
between each repetition

(c) Print the string 3 times in a new line each time

(d) Modify the string at index 7 as ’A’

(e) Print the string from index 4 to 15

(f) Print the final string with its length

In [12]:
#Delete the value at index =4

String is immuttable. We can't change any value in a string

In [13]:
#Print the string 4 times in a single line with space between each repetition
string=" The day has been long"
print(string*4)

 The day has been long The day has been long The day has been long The day has been long

In [14]:
#Print the string 3 times in a new line each time
string="The day has been long\n"
print(string*3)

The day has been long
The day has been long
The day has been long

In [15]:
#Modify the string at index 7 as ’A’

Python strings are immutable (i.e. they can't be modified)

In [16]:
#Print the string from index 4 to 15
print(string[4:16])

day has been

In [17]:
#Print the final string with its length
print("String is: ",string)
print("Length is: ",len(string))

String is:  The day has been long

Length is:  22